html, body {
    height: 100%;                   /* allow elements to take up full height of browser window */
}

body {
    margin: 0;                      /* remove default browser margin */
    display: flex;                  /* body is a flex container*/
    flex-direction: column;
}

.site-title {
    margin: 0;                      /* remove default marfings around the site title */
}

.header {
    padding: 15px;
    background-color: #d77599;
    height: 50px;
    display: flex;
    align-items: flex-end;              /* align items to the bottom of the header */
    justify-content: flex-start;        /* keep items on the left*/
}

.header-right {
    display: flex;
    gap: 20px;                          /* add space between items*/
    margin-left: auto;                  /* push group all the way to the right */
}

.box-link {                             /* style link to look like a button */
    width: 80px;
    height: 50px;
    background-color: #F4C2D4;
    border: 2px solid #000;
    text-decoration: none;              /* remove underline */
    color: black;

    display: flex;
    align-items: center;                /* center text */
    justify-content: center;
    font-weight: bold;
}

.box-link:hover {
    background-color: #f1a9c2;      /* change background color when mouse hovers button */
}

.content {   
    background-color: #F4C2D4;
    padding: 20px;
    
    max-width: 1000px;
    width: 100%;
    margin: 30px auto;                      /* center */

    display: flex;
    flex-direction: row;
    align-items: center;                    /* vertically and horizontally center items*/
    justify-content: center;
    gap: 15px;
    flex-wrap: nowrap;                      /* force to stay on one line*/

    flex: 1;                                /* push footer down*/
    box-sizing: border-box;
}

.image {                                    /* act like container*/
    display: flex;
    flex-direction: column;                 /* stack vertically */
    align-items: center;
}

.content p {
    margin: 0;
}

.image img{
    width: 250px;
    border: 10px solid white;           /* add white border */
}

.textbox {
    width: 300px;
    margin-top: 10px;
    padding: 10px;
    background-color: rgba(255,255,255,0.75);       /* semi transparent */
    text-align: center;
    box-sizing: border-box;
    border-radius: 8px; 
}

.footer {
    background-color: #d77599;
    color: black;
    padding: 15px;
    text-align: center;
    height: 50px;
}

.footer p {
    margin: 0;
}

/* Media queries override rules on smaller screens */
@media (max-width: 770px){
    /* header becomes column layout*/
    .header{
        align-items: flex-start;
        height: auto;

        flex-direction: column;
        gap: 10px;
    }

    .site-title {
        text-align: center;
        font-size: 1.2rem;
    }

    .header-right{

        gap: 10px;
    }

    .box-link{
        width: 70px;
        height: 40px;
        font-size: 0.9rem;
    }

    .content{
        margin: 12px auto;
        padding: 16px;

        flex-direction: column;
        align-items: center;
    }

    .textbox {
        width: 100%;
        max-width: 300px;
    }

}