html, body {
    height: 100%;                   /* allow elements to take up full height of browser window */
}

body {
    margin: 0;                      /* remove default browser margin */
    display: flex;                  /* body is a flex container*/
    flex-direction: column;
}

.site-title {
    margin: 0;                      /* remove default marfings around the site title */
}

.header {
    padding: 15px;
    background-color: #d77599;
    height: 50px;
    display: flex;
    align-items: flex-end;              /* align items to the bottom of the header */
    justify-content: flex-start;        /* keep items on the left*/
}

.header-right {
    display: flex;
    gap: 20px;                          /* add space between items*/
    margin-left: auto;                  /* push group all the way to the right */
}

.box-link {                             /* style link to look like a button */
    width: 80px;
    height: 50px;
    background-color: #F4C2D4;
    border: 2px solid #000;
    text-decoration: none;              /* remove underline */
    color: black;

    display: flex;
    align-items: center;                /* center text */
    justify-content: center;
    font-weight: bold;
}

.box-link:hover {
    background-color: #f1a9c2;      /* change background color when mouse hovers button */
}

.content {   
    background-color: #F4C2D4;
    padding: 20px;
    max-width: 1000px;
    width: 100%;
    margin: 30px auto;

    display: flex;
    justify-content: center;             /* vertically and horizontally center items*/
    align-items: center;

    flex: 1;                            /* push footer down*/
    box-sizing: border-box;
}

.text-group {
    display: flex;
    flex-direction: column;
    gap: 8px;

    justify-content: center;
    align-items: center;

    flex: 1;                            /* take available space */
    min-width: 260;                     /* prevent  crushing */
}

.textbox {
    width: 500px;
    height: auto;                       /*text box grows if text wraps*/
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;             /* predictable sizing */
    margin: 0;
    border-radius: 8px; 
}

.content p {
    margin: 0;                          /* remove default paragraoh margins */
}

.footer {
    background-color: #d77599;
    color: black;
    padding: 15px;
    text-align: center;
    height: 50px;
}

.footer p {
    margin: 0;
}

/* Media queries override rules */
@media (max-width: 770px){
    /* layout is in column format */
    .header{
        align-items: flex-start;
        height: auto;

        flex-direction: column;
        gap: 10px;
    }

    /* decrease title size */
    .site-title {
        text-align: center;
        font-size: 1.2rem;
    }

    .header-right{
        gap: 10px;
    }

    .box-link{
        width: 70px;
        height: 40px;
        font-size: 0.9rem;
    }

    .content{
        margin: 12px auto;
        padding: 16px;
        align-items: flex-start;
    }

    .text-group {
        width: 100%;
        flex: none;                 /* stop flex from stretching or shrinking */
        min-width: 0;
    }

    .textbox {
        width: 100%;
        max-width: 420px;
    }
}